{% extends 'template.html.twig' %}
{% block title %}
{{ firstname }} {{ name }}
{% endblock %}

{% block body%}

    <h1>My name is {{ firstname }} {{ name }}</h1>
    <p>from first </p>
    Je veux aller sur cet URL absolue : {{ url('first') }}
{% endblock %}